body{
    background-color: rgb(114, 162, 228);
}
h1{
    color: bisque;
}
tr:hover{
    background-color: bisque;
}
/* estilo por etiqueta   */
#nombre{
    border: 1px solid rgb(153, 68, 68);
    border-radius: 3px;
    background-color: aqua;
}